<%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
<style>

#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: Black;
}
</style>
<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
  <div class="container">
      <a class="navbar-brand" href="#page-top"><% image_path 'lotus-flower.png'%> </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fas fa-bars ms-1"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
              <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
              <li class="nav-item"><a class="nav-link" href="#portfolio">Products</a></li>
              <li class="nav-item"><a class="nav-link" href="#about">About</a></li>
              <li class="nav-item"><a class="nav-link" href="/users/sign_in">LOgin</a></li>
              <li class="nav-item"><a class="nav-link" href="/users/sign_up">SignUp</a></li>
          </ul>
      </div>
  </div>
</nav>

<h3 style="font-family: Arial, Helvetica, sans-serif"><b>My Products</b></h3>
<%= link_to "Export It", items_path(format: 'csv') %>
<li class=""><%= button_to 'SignOut', destroy_user_session_path, method: :delete %></li>
<li class=""><%= link_to 'Home', users_path %></li>
<table id="customers">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Price</th>
      <th>Ratings (Out Of 5)</th>
      <th>Actions</th>
    </tr>
  <% @items.each do |items|%>
    <tr>
      <td><%= items.id%></td>
      <td><%= items.name%></td>
      <td><%= items.price%></td>
      <td>
      <span><%= items.rating%></span></td>
      <td>
      <span><%= link_to "Destroy", item_path(items) ,data: {
                  turbo_method: :delete,
                  turbo_confirm: "Are you sure?"
                  }%> /
      <%= link_to "Edit", edit_item_path(items) %></span> /  <%= link_to "Add", new_item_path(items) %></span>
      </td>
    </tr>
  <% end %>
</table>
